* {
  box-sizing: border-box;
}
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Arial,
    sans-serif;
  font-size: 18px;
  line-height: 1.6;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}

a {
  color: #01146d;
}

a:hover {
  text-decoration: none;
}

.header {
  padding: 1em 0em;
  display: grid;
  grid-template-columns: min-content auto;
  grid-template-rows: auto auto;
  gap: 0 2em;
}

.logo {
  grid-row: span 2;
}

.logo img {
  width: 130px;
}

.body {
  padding: 12px;
}

.slogan {
  color: darkgray;
  font-variation-settings: 'opsz' 20, 'GRAD' 400, 'YAXS' 400;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.3;
}

.header h1 {
  font-size: 32px;
  margin: 0;
  font-variation-settings: 'opsz' 20, 'GRAD' 600, 'YAXS' 400;
  font-weight: 250;
}

@media only screen and (min-width: 1000px) {
  .page {
    width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }

  .header {
    width: 1024px;
    margin: 0 auto;
  }

  .header h1 {
    font-size: 5vw;
  }

  .body {
    width: 700px;
  }

  .sidebar {
    width: 240px;
  }

  .sb-card #planetarium {
    column-count: 1;
  }

  .slogan {
    font-size: 4vw;
    font-weight: 250;
  }

  .logo img {
    width: 13vw;
  }
}

.title {
  font-size: 24px;
  font-variation-settings: 'opsz' 20, 'GRAD' 450, 'YAXS' 400;
  font-weight: 508;
}

.sb-card {
  background: #f6f6f6;
  border-radius: 10px;
  padding: 4px 20px;
  margin: 14px 0;
  font-size: 16px;
}

.sb-card p {
  margin-top: 0;
}

.sb-card h3 {
  text-align: center;
  margin-top: 14px;
}

.col3 {
  column-count: 3;
}

.calendar-list {
  margin-top: 0;
  padding-left: 20px;
}

.calendar {
  padding-bottom: 14px;
}

.book,
.mic {
  text-align: center;
}

.mic img {
  border-radius: 72px;
  width: 106px;
}

#planetarium {
  padding-left: 20px;
  column-count: 2;
}

.footer {
  background: #01146d;
  color: white;
  padding: 54px;
  text-align: center;
}

.footer a {
  color: white;
}

.ornament {
  color: #ccc;
  font-size: 50px;
  text-align: center;
}

.ornament b {
  font-size: 70px;
  font-weight: normal;
}

.blogpost {
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  overflow-wrap: break-word;
}
