/* from oocss.org */
body {/*_text-align:center;*/}/* IE5.5 */
.body,.tit{overflow:hidden;_overflow:visible;_zoom:1;}
.tit, .page{margin: 0 auto; width: 960px;/*_text-align:left;*/} /* wraps other template elems to set width */ /* text-align IE5.5 */
.main{overflow: hidden;_overflow:visible;_zoom:1;padding-right: 10px;}
.rightCol{float:right; width: 200px;_margin-left:-3px;}
/* nuff template*/

body {
  background: url(background.png) repeat-y; 
  font-family: "Helvetica Neue", "Lucida Grande",Arial,sans-serif; 
  font-size: 14px;
}

.m {
  background: #f0f0f0;
   padding: 1px 8px 5px;
   -moz-border-radius: 0 0 6px 6px;
  -webkit-border-bottom-left-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
}

.mh {
  background:#7D8CA5;
  color: white;
  font-weight: normal;
  padding:3px;
  margin: 8px 0 0 0;
  -moz-border-radius: 6px 6px 0 0;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  border:1px #7D8CA5;
  text-align: center;
}

.tit {
  border-bottom: 1px solid #7D8CA5;
  height: 130px;
}

.tit h1, ul {
  margin: 0;
}

.logo {
  float: left;
}

.slogan{
  float: left;
  color: #808080;
  font-size:2.7em;
  line-height:0.8em;
  margin: 20px 0 0 20px;
}
  
.e {
  font-size: 2em;
  position: relative;
  top: 5px;
}
  
a {
  color: #05a;
}
  
h2 a, a:hover, .rss, .foot a {
  text-decoration: none;
}
  
.blogpost {
  padding-bottom: 20px;
  line-height: 1.3em;
  letter-spacing: -0.03em;
}
  
.ornament {
  color: #ccc;
  font-size: 50px;
  text-align: center;
  padding-top: 40px;
}
  
.ornament b {
  font-size: 70px;
  font-weight: normal;
}
  
.foot {
  border-top: 1px solid #7D8CA5;
}
  
h2 {
  font-size: 2em;
  line-height: 1em;
}
  
h2 a:hover {
  text-decoration: underline;
}
  
img {
  border: 0;
}
  
.foot a:hover{
  color: blue;
}
  
.rss {
  background:#05a;
  color:white;
  padding: 2px;
}
  
a.rss:hover {
  background:blue;
  color:white;
}
  
h2.title {
  font-size: 3em;
}
